.faas1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Use min-height to ensure full screen height */
  background-image: url('/banner/taust.png');
  background-size: cover;
  background-position: center;
  text-align: center; /* Center text and image horizontally */
}

.faas1 h1 {
  background: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  margin-bottom: 20px;
}

.faas1 button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.overlay-content h1 {
  margin-bottom: 20px;
}

/* Mobile (Smartphone) 480px and below */
@media (max-width: 480px) {
  .faas1 h1 {
    font-size: 1.5em;
  }

  .faas1 button {
    font-size: 1em;
    padding: 8px 16px;
  }

  .overlay-content h1 {
    font-size: 1.5em;
  }
}

/* Huge size (Larger screen) 1281px and greater */
@media (min-width: 1281px) {
  .faas1 h1 {
    font-size: 3em;
  }

  .faas1 button {
    font-size: 1.5em;
    padding: 12px 24px;
  }

  .overlay-content h1 {
    font-size: 3em;
  }
}


.playing-card-back {
  border: 1px solid #533;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-size: 10%;
  background-position: 10px 10px;
  background-color: #ffe9e9;
}

.playing-card-back-box {
  display: inline-block;
  width: 65px;
  height: 94px;
  position: relative;
  box-sizing: border-box;
}

.playing-card{
  width: 100%;
  height: 100%;
  background-size: 100%;
  transition: transform 0.1s ease-in-out;
}

.your-hand .playing-card {
  box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.your-hand-holder {
  overflow: hidden;
  max-width: 1400px;
}

.your-hand {
  margin: 30px 70px 100px 70px;
}

.your-hand .playing-card:hover,
.your-hand .playing-card-picked {
  z-index: 2;
  transform: scale(1.5);
}


.faas1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  background-color: black;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}