/* src/assets/css/bannerbuss.css */


.border-image{
  width: 820px;
  height: 220px;
  position: absolute;
  left: -10px;
  top: -9px;
  z-index: 9;
}

.pohi-image {
  width: 950px;
  height: 200px;
  position: absolute;
  left: -70px;
}


.road-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.tee-image {
  width: 3135px;
  height: 200px;
  position: absolute;
  left: -100px;
  animation: moveTee 6s linear infinite;
}

.pilved-image {
  width: 1500px;
  height: 230px;
  position: absolute;
  left: 500px;
  top: -10px;
  animation: moveTee 60s linear infinite;
}

.peatus {
  top: 11px; /* Adjust position as needed */
  left: 1550px; /* Center the bus horizontally */
  width: 100px; /* Adjust the size as needed */
  height: auto;
  position: absolute;
  z-index: 3;
  animation: moveTee 6s linear infinite;
  animation-delay: 0s;
}

.buss, .pealkiri {
  position: absolute;
}

.buss {
  top: 75px; /* Adjust position as needed */
  left: 250px; /* Center the bus horizontally */
  width: 120px; /* Adjust size as needed */
  height: auto;
  z-index: 4;
  animation: moveBuss 5s linear forwards;
}

.pealkiri {
  top: 10px; /* Adjust position as needed */
  left: 185px; /* Center the title horizontally */
  width: 350px; /* Adjust size as needed */
  height: auto;
  z-index: 2;
}


@keyframes moveTee {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(-1867px);
  }
}

@keyframes moveBuss {
  0% {
    left: -100px;
  }
  100% {
    left: 400px;
  }
}
