/* src/assets/css/BusDriver.css */

.bus-driver-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6ec03c; /* Same background color as HomePage for consistency */
    text-align: center; /* Center text and image horizontally */
  }
  
  .bus-driver-page h3 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .bus-driver-page button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px;
  }
  
  .bus-driver-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .bus-driver-page li {
    margin: 5px 0;
  }
  
  .player-list-container {
    margin-top: 20px;
  }
  