/* src/assets/css/HomePage.css */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #6ec03c; /* Saad muuta taustavärvi vajadusel */
  text-align: center; /* Center text and image horizontally */
}

.home-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.home-page h2 {
  margin-bottom: 20px;
}

.home-page-image { 
  max-width: 15%; /* pildi suurus 15% peaks sobima */
  height: auto;
  margin-bottom: 20px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 50px; /* Space below the first two rows of buttons */
}

.button-container .button-centered {
  grid-column: span 2;
  justify-self: center;
}

.home-page button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.home-page .offset-button {
  margin-top: 50px; /* 50px below the previous button */
  margin-left: 350px; /* 20px to the right of the centered button */
}

/* Banner Styles */
.peamine {
  top: 10px;
  left: 158px;
  transform-origin: 50% 177px;
  position: absolute;
}

@keyframes swing2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-120deg); }
}

.viin {
  transform-origin: 50% 0%;
  animation: swing2 0.4s ease-in-out infinite alternate;
  position: absolute;
  width: 90px;
  height: 60px;
  top: 68px;
  left: 767px;
  animation: swing2 5s infinite;
}

@keyframes move {
  0% { transform: translate(-70px, 350px) scale(0.1); }
  100% { transform: translate(-220px, 60px) scale(1.4); }
}

.raha {
  width: 90px;
  height: 45px;
  position: relative;
  top: -70px;
  left: 550px;
  animation: move 10.3s linear infinite;
}

@keyframes move2 {
  0% { transform: translate(-40px, 350px) rotate(100deg); }
  100% { transform: translate(-190px, 65px) rotate(-100deg); }
}

.porgandilaadnetoode {
  position: relative;
  top: 0px;
  left: 100px;
  width: 150px;
  height: 90px;
  animation: move2 3.5s linear infinite;
}

.peamine-border {
  position: relative;
  top: 18px;
  left: -77px;
  width: 205px;
  height: 100px;
  overflow: hidden;
  /* border: 4px solid black; */
}


/* üritan bannerilt oigesti toole saada. jaam on see et raah suurus jääb zoomides samaks ja liigub nahui
  assets/banner.jsx       on uus ja pole kindel kas see vajalik
  components/index.js       on uus ja pole kindel kas see vajalik
  src/index.js failis ka mingi 4.reas vistg mingi veidrus
   */