/* src/assets/css/HomePage.css */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url('/banner/taust.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.home-page header,
.home-page main,
.home-page footer {
  flex: 0 1 auto;
}

.home-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.home-page h2 {
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s, transform 0.3s;
}


.home-page button {
  padding: 10px 15px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.home-page .logout-button {
  background-color: red;
  color: white;
}
.home-page .logout-button:hover {
  background-color: #c50303;
}

button:hover {
  background-color: #3d0274;
}

/* Mobile (Smartphone) 480px and below */
/* Ensure parent container has overflow: hidden */
.banner-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Update the road-container styles */
.road-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; /* Prevent overflow beyond the container */
}

/* Adjust the border-image positioning */
.border-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

/* Adjust other elements to fit within the border */
.pohi-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.tee-image {
  width: 200%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  animation: moveTee 6s linear infinite;
}

.pilved-image {
  width: 150%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  animation: movePilved 60s linear infinite;
}

.peatus {
  top: 11px;
  left: 75%;
  width: 10%;
  height: auto;
  position: absolute;
  z-index: 3;
  animation: moveTee 6s linear infinite;
}

.buss {
  top: 75px;
  left: 20%;
  width: 10%;
  height: auto;
  position: absolute;
  z-index: 4;
  animation: moveBuss 5s linear forwards;
}

.pealkiri {
  top: 10px;
  left: 15%;
  width: 20%;
  height: auto;
  position: absolute;
  z-index: 2;
}

@keyframes moveTee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes movePilved {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveBuss {
  0% {
    left: -10%;
  }
  100% {
    left: 20%;
  }
}

/* Mobile and Tablet (up to 768px) */
@media (max-width: 768px) {
  .banner-container {
    display: none; /* Hide large banner on small screens */
  }

  .banner-container-telole {
    display: block; /* Show mobile banner on small screens */
    width: 100%;
  }

  .banner-telole-image {
    width: 100%;
  }

  .home-page h1, .home-page h2 {
    font-size: 1.5em;
  }

  .home-page-image {
    max-width: 50%;
  }

  .button-container {
    gap: 10px;
  }

  .home-page button {
    font-size: 1em;
  }
  .home-page h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
  }
}

/* Large screens 769px and above */
@media (min-width: 769px) {
  .banner-container {
    display: block; /* Show large banner on large screens */
  }

  .banner-container-telole {
    display: none; /* Hide mobile banner on large screens */
  }
  .home-page h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
  }
}

/* Huge size (Larger screen) 1281px and greater */
@media (min-width: 1281px) {
  .banner-container {
    width: 800px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 5 auto; /* Center the banner horizontally */
    top: 5px;
  }

  .road-container {
    width: 100%;
    height: 100%;
  }

  .tee-image {
    width: 3000px;
    height: 300px;
  }

  .buss {
    top: 80px;
    left: 400px;
    width: 180px;
  }

  .peatus {
    top: 20px;
    left: 2500px;
    width: 300px;
  }

  .pealkiri {
    top: 15px;
    left: 300px;
    width: 500px;
  }

  .home-page h1, .home-page h2 {
    font-size: 3em;
  }

  .home-page-image {
    max-width: 20%;
  }

  .button-container {
    gap: 30px;
  }

  .home-page button {
    font-size: 1.5em;
  }
  .home-page h3 {
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
  }
}
