.lobby-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Kasutage min-height asemel height, et see saaks kohanduda sisu kõrgusega */
  background-image: url('/banner/taust.png');
  background-size: cover; /* Katkesta pilt täies ulatuses taustaga */
  background-position: center; /* Keskele joondamine */
  text-align: center;
}

.lobby-page h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.lobby-page input {
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
  width: 200px;
  border-radius: 10px;
}

.lobby-page button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px;
}

.lobby-page ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Elementide murdmiseks uuele reale */
  gap: 5px; /* Väiksem vahe kaartide vahel */
  justify-content: center; /* Keskendab elemendid horisontaalselt */
}

.lobby-page li {
  margin: 5px 0;
  color: #000000;
  background-color: #62e07d; /* hall taustavärv */
  padding: 10px; /* sisemine kaugus kasti sees */
  border: 1px solid #000000; /* kasti serv */
  border-radius: 8px; /* kergelt ümarad servad */
}

.special-link {
  color: red; /* Soovitud värv */
  text-decoration: underline; /* Lisab joone alla */
}


.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5e5e5e4b; /* Hall taustavärv */
  border-radius: 8px;
  padding: 20px;
}

.player-name-container {
  background-color: #adadad; /* Hall taustavärv */
  border-radius: 3px;
}

.player-list-container {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  margin: -20px;
  flex-direction: column;
}

.top-buttons {
  margin-bottom: 10px;
}

.top-buttons button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 40px; /* Vähendatud nuppude vaheline vahe */
}

.room-code-container{
  background-color: #ffffff; /* Hall taustavärv */
  padding: 5px;
  width: 108%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.room-code {
  color: #000000;
  text-shadow: 1px 1px 3px #000000;
  transform: scale(1.3);

}

.join-room-button,
.start-game-button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px;
}

.join-room-button:hover,
.start-game-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Additional styles for specific text colors */
.lobby-page .sulPoleKontot {
  font-size: 1.3em;
  margin-bottom: 15px;
  color: rgb(255, 0, 0); /* "You must be logged in to create a game" text color */
  text-shadow: 2px 2px 4px #000000;
}

.lobby-page .current-card-back h3 {
  color: white; /* "Current Card Back:" text color */
  text-shadow: 2px 2px 4px #000000;
}

/*kaardi suurused ja sellega seonduvad*/
.card-back-selection {
  margin-top: 15px;
}

.card-back-options {
  display: grid; /* Kasuta gridi paigutust */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Lubab kaardil olla vähemalt 100px lai ja kohaneb ekraani suurusega */
  gap: 10px;
  justify-content: center;
}

.card-back-option {
  width: 100%; /* Muuda laius 100% */
  height: auto;
  max-width: 150px; /* Maksimaalne laius, mis kohaneb ekraanisuurusega */
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 10px;
}

.card-back-option.selected {
  transform: scale(1.5);
}


/* CSS to make the Current Card Back 80% smaller for users who join */

.current-card-back img {
  width: 20%; /* Reducing the width to 20% of the original size */
  height: auto; /* Maintaining the aspect ratio */

}

.current-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.current-card-back h3 {
  margin-bottom: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.card-back-selector h3 {
  margin-bottom: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.handleStartGame {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.notification {
  font-size: 1.1em;
  color: rgb(255, 0, 0); /* "You must be logged in to create a game" text color */
  text-shadow: 2px 2px 4px #000000;
}

/* Kohandame paigutust seadmetes, mille laius on maksimaalselt 480px */
@media (max-width: 480px) {
  .card-back-options {
    grid-template-columns: repeat(2, 1fr); /* Kaks veergu */
    gap: 5px; /* Väiksem vahe kaartide vahel */
  }

  .card-back-option {
    width: 100%; /* Maksimeerime kaartide laiuse */
    margin-bottom: 10px; /* Lisame allserva veidi vahet */
  }

  .current-card-back img {
    width: 50%; /* Reducing the width to 20% of the original size */
    height: auto; /* Maintaining the aspect ratio */
  }
}

