/* src/assets/css/Profile.css */

.profile-page {
  color: rgba(3, 3, 3, 0.952);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/banner/taust.png');
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.profile-page h1 {
  color: rgba(255, 255, 255, 0.9); /* White color with 90% opacity */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Black shadow */
}

.profile-container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.profile-field {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.61); /* Gray background color */
  width: 70%;
  border-radius: 5px;
}

.profile-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-field p {
  margin: 0;
  color: #555;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.1);
  margin-top: 20px;
}

.profile-form input,
.profile-form select {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-form button {
  padding: 12px 25px;
  font-size: 1em;
  color: #fff;
  background: #4caf50;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
}

.profile-form button:hover {
  background-color: #45a049;
}

.red-button {
  background-color: rgb(196, 5, 5) !important;
  color: white !important; /* Text color */
  padding: 10px 15px; /* Padding inside the button */
  border: none; /* Remove default border */
  border-radius: 5px; /* Optional: Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1.2em; /* Optional: Font size */
}

.red-button:hover {
  background-color: darkred !important; /* Darker shade on hover */
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #7400aa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #5a0081;
}
